<main class="grid-container">
  <div class="grid-x grid-padding-x">
    <h1 class="cell">Create new room</h1>
  </div>
  <form class="grid-x grid-padding-x" {{on 'submit' this.createRoom}}>
    <div class="cell large-4">
      <label>Name
        <Input type="text" @value={{this.newName}} />
        {{#if this.errorName}}
        <span class="form-error is-visible">{{this.errorName}}</span>
        {{/if}}
      </label>
      <label>Address
        <Input input type="text" @value={{this.newAddress}} />
        {{#if this.errorAddress}}
        <span class="form-error is-visible">{{this.errorAddress}}</span>
        {{/if}}
      </label>
      <label>Capacity
        <Input input type="number" @value={{this.newCapacity}} />
        {{#if this.errorCapacity}}
        <span class="form-error is-visible">{{this.errorCapacity}}</span>
        {{/if}}
      </label>
      <label>Features
        <Input input type="text" @value={{this.newFeatures}} />
        {{#if this.errorFeatures}}
        <span class="form-error is-visible">{{this.errorFeatures}}</span>
        {{/if}}
      </label>
      <div class="text-right">
        <LinkTo @route="rooms" class="button secondary">Don't Create</LinkTo>
        <button class="button" type="submit">Create</button>
      </div>
    </div>
  </form>
</main>
